<div class="head">
    <h1>Welcome to Travel Admin Panel</h1>
</div>
<div class="admin-dashboard-links">
    <a href="/admin">Dashboard</a>
    <a href="/admin/logo">Logo</a>
    <a href="/admin/navbar">Navbar</a>
    <a href="/admin/langs">Languages</a>
    <a href="/admin/home-page-sliders">Home Page Sliders</a>
    <a href="/admin/home-page-packages">Home Page Packages</a>
    <a href="/admin/about-page">About Page</a>
    <a href="/admin/contact-page">Contact Page</a>
    <a href="/admin/footer-labels">Footer Labels</a>
</div>