@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./header.css');
@import url('./sidebar.css');
@import url('./home.css');
@import url('./action.css');
@import url('./admin.css');
@import url('./login.css');
@import url('./api.css');
@import url('./socialLinks.css');
@import url('./responsive.css');




:root {
    --primary: #017fc2;
    --primary-2: #017fc2;
    --primary-hover: #0069a1;
    --body-bg: #f4f7fa;
    --btn-bg: #fff;
    --text-color-2: #fff;
    --action-color: #0000EE;
    --hairline-color: #ddd;
    --error-color: #ba2121;
    --input-autofill: #e7effd;
    --text-color-1: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Geist", sans-serif;
    transition: all .2s linear;
}

body {
    background-color: var(--body-bg);
    overflow-y: scroll;
}

body.active {
    --primary-2: #fff;
    --body-bg: #121212;
    --text-color-1: #fff;
    --btn-bg: #000;
    --action-color: #ffffff;
    --hairline-color: #272727;
    --error-color: #E25F5F;
    --input-autofill: #272f3d;
}


.content {
    padding: 25px 35px;
    overflow: auto;

}

.content.active {
    margin-top: 60px;
    margin-left: 280px;
}